body {
  // background-image: url("../images/laboratory1.jpg");
  background-color: #EEE9BB;
  z-index: 3;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
   -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#logo {
  max-height: 100px;
  max-width: 100px;
  float: left;
  margin: 1.1em;
  size: 3em;
  z-index: 200;
}

.right {
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  float: right
}

.menu1 {
  float: center;
  color: #3BAD2B;
}

.left {
  float: left;
}

#learn {
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;

}

.navDrop {
  border-radius: 10%;
}

.design {
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
  background: blue;
  color: red;
  float: left;
}

#gameTarget {
  margin: 10em 0 0 0;
}

@mixin gradient-text($text, $background, $gradient) {
  background: white;
  color: black;
  position: relative;
  
  // Hide aliased edges caused by mixing blend modes. Will appear as a faint dark outline on certain backgrounds. Tweak to improve rendering
    text-shadow: 
      1px 1px 0px $background,
      1px -1px 0px $background,
      -1px -1px 0px $background,
      -1px 1px 0px $background;
  
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    // Make cursor ignore these, allowing text underneath to be clicked and selected
    pointer-events: none;
  }
  
  &::before {
    // Gradient
    background: $gradient;
    content: '';
    display: block;
    mix-blend-mode: screen;
  }
  
// Everything below can be removed when using a #fff background. Ditto when using a black background, provided the mix-blend-modes, text, background color are reversed. (Screen to multiply, white to black)
  
  &::after {
// Duplicate gradient text. Yes, it's ugly. Change the value below without changing the HTML for fun times.
    content: $text;
    background: $background;
    
    color: white;
    mix-blend-mode: multiply;
  }

}

body {
  background: #EEE9BB;
  font-family: "Lato", sans-serif;
  margin: 3em auto;
  max-width: 50em;
}

.design {
  display: inline-block;
  font-size: 60px;
  margin: 10px;
  opacity: 0.9;
  
  @include gradient-text('Chymic Ions', #EEE9BB, linear-gradient(to right, #000000, #FF894F, #4136C6, #FF7D97, #C993FF));
}

.login {
  max-width: 100px;
}

#playBtn {
  max-height: 100px;
  max-width: 100px;
}

#level2Btn {
  max-height: 100px;
  max-width: 100px;
}
#level1Btn {
  max-height: 100px;
  max-width: 100px;
}

.text {
  line-height: 125%;
  text-align: justify;
}
.center {
  text-align: center;
}

.equationArrow {
  min-height: 25px;
  min-width: 15px;
  color: black;
}


  
