<div class="container-fluid authform">
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form>
        <section>
          <div>
            Dalton's Law states that matter cannot be created of destroyed.  This is one of the many priciples at play when we use chemical equations describe what is happenind in the beaker. 
          </div>
          <div> 
            Not only does a balanced chemical equation tell you the identity of the reactants and products involved but it also tells you the relative ratio of all substances in that chemical reaction. Chemical reactions must follow the law of conservation of mass (Dalton's Law), so if you start with 10 atoms of carbon of the reactant side of your equation, you must end up with 10 atoms of carbon on the product side. Chemical equations must also follow the rule of conservation of electrical charge. Chemical reactions, once balanced, can be used to calculate the various quantities of either the reactants or products involved in the reaction (i.e. stoichiometry). In the first part of this experiment, you will practice balancing a number of chemical equations ranging in complexity. There are a number methods for balancing equations ranging from simple trial-and-error to more algebraic methods. You can choose the method that works best for you to balance chemical equations.
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
