<div class="container-fluid authform">
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form>
        <section>
          <div class="menu1">
            <br>
            <h2 class="text"> Dalton's Law states that matter cannot be created or destroyed.  This is one of the many principles at play when we use chemical equations to describe what is happening in the beaker.
            </h2> 
          </div>
          <br>
          <div class="menu1"> 
            <h3 class="text">
            </h3>
          </div>
          <div class="menu1">
            <h3 class="text">
              1. Determine the correct formulas for all the reactants and products in the reaction.
            </h3>
            <br>
            <h4 class="center white">
              For example, let's look at the reaction between hydrogen and oxygen to produce water. 
            </h4>
            <h4 class="center white">The reactants are: H<sub>2</sub>(g) & O<sub>2</sub>(g) and the product is: H<sub>2</sub>O(l)
            </h4>
           <br>
            <h3 class="text">
              2. Write the formulas for the reactants on the left and the formulas for the products on the right with an arrow in between. If two or more reactants or products are involved, separate their formulas with plus signs.
            </h3>
            <br>
            <h4 class="center">In our example:</h4>
             <h4 class="center white">H<sub>2</sub>(g) + O<sub>2</sub>(g) <img class="equationArrow" src="images/arrowGreen.png" width="12" height="9" align="bottom"> H<sub>2</sub>O(l)
             </h4>
            <br>
            <h3 class="text">
              3. Count the number of atoms of each element in the reactants and products. A polyatomic ion appearing unchanged on both sides of the equation is counted as a single unit.
            </h3>
            <br>
            <h4 class="center">In our example:</h4>
            <h4 class="text center white">
              H<sub>2</sub>(g) = 2 Hydrogens
              <br>
              O<sub>2</sub>(g) = 2 Oxygens
              <br>
              H<sub>2</sub>O(l) = 2 Hydrogens and 1 Oxygen
            </h4>
            <br>
            <h3 class="text">
              4. Balance the elements one at a time by using coefficients. A coefficient is a small whole number that appears in front of a formula in an equation. When no coefficient is written, it is assumed to be 1. It is best to begin with an element other than hydrogen or oxygen. These two elements often occur more than twice in an equation. Do not change the subscripts in the chemical formula of a substance.
            </h3>
            <br>
             <h4 class="center">In our example:</h4>
             <h4 class="center white">
              Hydrogen is balanced but oxygen is not. If we put a coefficient of 2 in front of H<sub>2</sub>O, the oxygen becomes balanced, but the hydrogen is unbalanced. So, if we put a 2 in front of the H<sub>2</sub> then the equation is balanced as shown below.
            </h4>
            <br>
            <h4 class="center white">2H<sub>2</sub>(g) + O<sub>2</sub>(g) <img class="equationArrow" src="images/arrowGreen.png" width="12" height="9" align="bottom"> 2H<sub>2</sub>O(l)
            </h4>
            <br>
            <h3 class="text">
              5. Check each atom or polyatomic ion to be sure the equation is balanced.
            </h3>
            <br>
            <h4 class="center">In our example:</h4>
            <h4 class="text center white">
              The left side of the equation has:
              H<sub>2</sub>(g) = 4 Hydrogens
              <br>
              O<sub>2</sub>(g) = 2 Oxygens
              <br>
              The right side of the equation has:
              <br>
              H<sub>2</sub>O(l) = 4 Hydrogens and 2 Oxygens
            </h4>
            <h3 class="text">
              6. Finally, make sure all coefficients are in the lowest possible ratio.
            </h3>
            <h4 class="center">In our example:</h4>
            <h4 class="center white">
              The coefficients are:
              <br> 
              2 H<sub>2</sub>(g) 
              <br>
              1 O<sub>2</sub>(g)
              <br>
              2 H<sub>2</sub>O(l) 
              <br>
              <br>
              Since H<sub>2</sub> and O<sub>2</sub> are diatomic gases, the above is the lowest coefficients possible. Another way to think of it is there is not a lower common demoninator between 2, 1 and 2.
            </h4>
            <br>
            <h3>Time to practice.  Click play to go to level 1 and practice determining the formulas of the ions dissociated or go to level 2 to practice determining the coeffients.
            </h3>
          </div>
          <div class="menu1">
            <a href="#/game" role="button"><img class="left" id="level1Btn" src="images/Level1.png"></a>
          </div>
          <div class="menu1">
            <a href="#/game" role="button"><img class="left" id="level2Btn" src="images/Level2.png"></a>
          </div>
        </div>
        </section>
      </form>
    </div>
  </div>
</div>
