<div class="container-fluid authform">
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form>
        <section class="menu1">
          <h1>How to Play</h1>
          <h4  class="menu1">This level is designed to practice dissociating salts into their ionic forms, the cation and the anion.</h4>
          <h4  class="menu1">1. Drag the correct cation and anion to the designated spots in the beaker. 
          <br>
          2. Click on the number to balance the equation.
           <br>
          3. Click on the numbers to balance the equation of the chemical reations.</h4>
        </section>
        <div class="menu1">
          <a href="#/level3" role="button"><img class="left" id="level3Btn" src="images/playbutton.png"></a>
        </div>
      </form>
    </div>
  </div>


  